.story-card
  .id
    %h4
      %strong
        = story.backlog.name.split.map(&:first).join.upcase + story.id.to_s

  .qr-code
    - data = URI::encode "#{user_backlog_story_url(current_user, story.backlog, story)}"
    %img{src: "https://api.qrserver.com/v1/create-qr-code/?size=50x50&data=#{data}"}
  .clearfix
  .title.text-center
    %h2= story.title.first(40)

  .overview.text-center
    = story.overview.gsub(/\n/, ', ')

  .points.text-center
    .col-xs-4
      %h4
        Points:
      = story.story_points || '---'

    .col-xs-4
      %h4
        Value:
      = story.business_value || '---'

    .col-xs-4
      %h4
        ROI:
      = story.roi || '---'
