= cache [current_user, @backlog, 'show'] do
  .row
    .col-lg-12
      .bottom-right
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", href: "#ordered-stories"} Stories
          %li
            %a{"data-toggle" => "tab", href: "#dashboard"} Dashboard
          - if can? :edit, @backlog
            %li
              %a{"data-toggle" => "tab", href: "#sharing"} Sharing
            %li
              %a{"data-toggle" => "tab", href: "#settings"} Settings
      %h1
        = @backlog.name
        %span.badge.total-complexity{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => "Remaining Complexity"}
          = @backlog.total_complexity





  .tab-content
    #ordered-stories.tab-pane.active
      = render 'stories_list', backlog: @backlog, stories: @backlog.ordered_stories
      .row
        .col-lg-12
          .pull-right
            %a.btn.btn-info.btn-sm{"data-target" => "#new-story", "data-toggle" => "modal"}
              Add Story
            %a.btn.btn-info.btn-sm{href: cards_user_backlog_path(current_user, @backlog)}
              Print Cards
          = render 'stories/form_modal', id: "new-story", backlog: @backlog, story: Story.new

    #dashboard.tab-pane
      Dashboard

    - if can? :edit, @backlog
      #sharing.tab-pane
        = render 'backlog_sharing', backlog: @backlog

      #settings.tab-pane
        settings


  .hidden
    = form_for [current_user, @backlog], html: {id: 'backlog_form'}, remote: true do |f|
      = f.hidden_field :story_order

